extends ../layout/_layout

block variables
    -   var footItems_1 = [{'Академия Осознанной Жизни': 'index.html'}, {'ООО  «КРИСТИНА ДУБИНИНА»': '#base'}]

block content
    +header
        +navbar('bg-dark')
            +navbar-brand('Академия Осознанной Жизни', '#', 'text-white text-wrap')
    main
        .container-fluide.mb-4
            h2.fw-bold.ms-3 Сведения об образовательной организации
        +section('1. Раздел «Основные сведения»', 'base')
            +card-title('', '', [
                ['Полное наименование:', 'общество с ограниченной ответственностью «КРИСТИНА ДУБИНИНА»'],
                ['Сокращенное наименование:', 'ООО  «КРИСТИНА ДУБИНИНА»'],
                ['Дата создания:', '19.03.2021 г.'],
                ['Учредитель:', 'Дубинин Алексей Александрович'],
                ['Место нахождения:', '630049, Новосибирская область, город Новосибирск, ул. Кропоткина, д. 128/1'],
                ['Филиалы (при наличии):', 'нет филиалов'],
                ['Режим работы:', 'с 9:00 до 18:00'],
                ['График работы:', 'с понедельника по пятницу, суббота, воскресенье – выходной. Доступ обучающихся к обучающей платформе обеспечивается круглосуточно из любой точки мира.'],
                ['Контактный телефон:', '+7-913-768-78-08'],
                ['Электронная почта:', 'dubinina8.academy@mail.ru'],
                ['Адрес места осуществления образовательной деятельности:', '630008, Новосибирская область, г. Новосибирск, ул. Бориса Богаткова, д. 99, оф. 411 (4 этаж).  ООО «КРИСТИНА ДУБИНИНА» реализует программы исключительно с применением электронного обучения, дистанционных образовательных технологий. В соответствии с ч. 4 ст. 16 Федерального закона от 29 декабря 2012 года № 273-ФЗ «Об образовании в Российской Федерации» при реализации образовательных программ с применением электронного обучения, дистанционных образовательных технологий, местом осуществления образовательной деятельности является место нахождения организации, осуществляющей образовательную деятельность, или ее филиала независимо от места нахождения обучающихся.']
            ])
        +section('2. Раздел «Структура и органы управления образовательной организации»')
            +card-title('Органы управления', '', [
                ['Высший орган управления', '- общее собрание участников (единственный участник).'],
                ['Единоличный исполнительный орган', '- генеральный директор Дубинин Алексей Александрович.']
            ])
            +card-title('Структура образовательной организации:', '', [
                ['', '* Общее собрание участников/единственный участник.'],
                ['', '* Генеральный директор.'],
                ['', '* Структурное подразделение – Академия осознанной жизни Кристины Дубининой'],
                ['Наименование структурных подразделений:', 'образовательная деятельность в ООО «КРИСТИНА ДУБИНИНА» осуществляется в структурном подразделении - Академия осознанной жизни Кристины Дубининой.'],
                ['Руководители структурных подразделений:', 'руководителем Академии осознанной жизни Кристины Дубининой является Дубинин Алексей Александрович.'],
                ['Места нахождения структурных подразделений и органов управления:', '630008, Новосибирская область, г. Новосибирск, ул. Бориса Богаткова, д. 99, оф. 411. (4 этаж)'],
                ['Адреса официальных сайтов структурных подразделений в информационно-телекоммуникационной сети «Интернет»:', 'адрес официального сайта Академии осознанной жизни Кристины Дубининой https://kristinadubinina.ru'],
                ['Адреса электронной почты структурных подразделений:', 'адрес электронной почты Академии осознанной жизни Кристины Дубининой - dubinina8.academy@mail.ru'],
                ['Сведения о наличии положений о структурных подразделениях (об органах управления) с приложением копий указанных положений (при их наличии):', ''],
                ['', 'Положения об органах управления отсутствуют. Сведения о компетенции органов управления содержатся в Уставе ООО «КРИСТИНА ДУБИНИНА»'],
                ['', 'Положение об Академии осознанной жизни Кристины Дубининой утверждено 10.04.2023 г.']
            ])
        +section('3. Раздел «Документы»')
            +card-title
                +list-group([
                    ['', 'Устав образовательной организации;'],
                    ['', 'Правила внутреннего распорядка обучающихся;'],
                    ['', 'Правила внутреннего трудового распорядка;'],
                    ['', 'Отчет о результатах самообследования;'],
                    ['', 'Правила приема обучающихся;'],
                    ['', 'Режим занятий обучающихся;'],
                    ['', 'Формы, периодичность и порядок текущего контроля успеваемости и промежуточной аттестации обучающихся;'],
                    ['', 'Порядок и основания перевода, отчисления и восстановления обучающихся;'],
                    ['', 'Порядок оформления возникновения, приостановления и прекращения отношений между образовательной организацией и обучающимися.'],
                ], [], 'list-group-flush list-group-numbered')
        +section('4. Раздел «Образование»')
            +card-title('Обучение по дополнительной профессиональной программе повышения квалификации «Введение в психосоматику» предполагает:', '', [
                ['Форма обучения', '– заочная;'],
                ['Нормативный срок обучения', 'составляет 16 часов;'],
                ['Обучение осуществляется', 'на русском языке.']
            ])
            +card-title('Образовательная программа включает в себя темы:', '', [])
                +list-group([
                    ['', 'Основы современной психосоматики;'],
                    ['', 'Германская новая медицина;'],
                    ['', 'Состояние консультанта;'],
                    ['', 'Интуиция и развитие образно-чувственного восприятия.']
                ], [
                    ['Обучение завершается итоговой аттестацией.', ''],
                    ['', 'Практическая подготовка не предусмотрена. Образовательная  программа реализуется исключительно с использованием электронного обучения и дистанционных образовательных технологий.'],
                    ['Цель обучения:', 'формирование представления о феноменологии взаимосвязи психики и тела, истории изучения психосоматических расстройств, факторах их возникновения, психологических воздействиях, направленных на оптимизацию состояния, а также сформировать навыки по диагностированию данных феноменов, умению алгоритмизировать консультативную работу по психотерапии психосоматических расстройств.'],
                    ['Задачи программы:', ''],
                    ['', '- сформировать представление о психосоматике, ее предмете, задачах, методах исследования;'],
                    ['', '- сформировать представление об основных психосоматических теориях;'],
                    ['', '- сформировать представление об основах психологического консультирования;'],
                    ['', '- обеспечить условия для получения практического опыта в сфере психологического консультирования.']
                ], 'list-group-flush list-group-numbered')
                +link_download('Скачать Программу повышения квалификации "Введение в психосоматику".', '../../assets/docs/psychosomatic_program.pdf', 'fw-bolder fst-italic')
            +card-title('УЧЕБНЫЙ ПЛАН')
                .table-responsive
                    table.table.table-bordered.border-primary
                        caption *ТК – текущий контроль, ПА – промежуточная аттестация
                        thead.table-info
                            tr.align-middle
                                th(scope='col' rowspan="2") № пп
                                th(scope='col' rowspan="2") Наименование тем
                                th(scope='col' rowspan="2") Всего, ак.час.
                                th(scope='col' rowspan="2") Всего аудиторные, ак.час.
                                th(scope='col' colspan="2").text-center В том числе
                                th(scope='col' rowspan="2") Самостоятельная работа, ак.час.
                                th(scope='col' rowspan="2") Форма контроля*
                            tr.align-middle
                                th(scope='col') Лекции, ак.час.
                                th(scope='col') Практические занятия, ак.час.
                        tbody
                            tr.align-middle
                                th(scope='col').text-center 1
                                th(scope='col') Основы современной психосоматики
                                th(scope='col').text-center 4
                                th(scope='col').text-center 3
                                th(scope='col').text-center 1
                                th(scope='col').text-center 2
                                th(scope='col').text-center 1
                                th(scope='col').text-center ТК
                            tr.align-middle
                                th(scope='col').text-center 2
                                th(scope='col') Германская Новая Медицина
                                th(scope='col').text-center 3
                                th(scope='col').text-center 2
                                th(scope='col').text-center 1
                                th(scope='col').text-center 1
                                th(scope='col').text-center 1
                                th(scope='col').text-center ТК
                            tr.align-middle
                                th(scope='col').text-center 3
                                th(scope='col') Состояние консультанта
                                th(scope='col').text-center 4
                                th(scope='col').text-center 3
                                th(scope='col').text-center 1
                                th(scope='col').text-center 2
                                th(scope='col').text-center 1
                                th(scope='col').text-center ТК
                            tr.align-middle
                                th(scope='col').text-center 4
                                th(scope='col') Интуиция и развитие образно-чувственного восприятия
                                th(scope='col').text-center 3
                                th(scope='col').text-center 2
                                th(scope='col').text-center 1
                                th(scope='col').text-center 1
                                th(scope='col').text-center 1
                                th(scope='col').text-center ТК, ПА
                            tr.align-middle
                                th(scope='col').text-center 5
                                th(scope='col') Итоговая аттестация
                                th(scope='col').text-center 2
                                th(scope='col').text-center 2
                                th(scope='col').text-center 
                                th(scope='col').text-center 2
                                th(scope='col').text-center 
                                th(scope='col').text-center Тест (зачет)
                            tr.align-middle
                                th(scope='col' colspan="2") ИТОГО:
                                th(scope='col').text-center 16
                                th(scope='col').text-center 12
                                th(scope='col').text-center 4
                                th(scope='col').text-center 8
                                th(scope='col').text-center 4
                                th(scope='col').text-center 
            +card-title('КАЛЕНДАРНЫЙ УЧЕБНЫЙ ПЛАН')
                .table-responsive
                    table.table.table-bordered.border-success
                        thead.table-success
                            tr.align-middle
                                th(scope='col' rowspan="2") Тема
                                th(scope='col' rowspan="2") Всего часов
                                th(scope='col' colspan="14").text-center День занятий
                            tr.align-middle.text-center
                                th(scope='col') 1
                                th(scope='col') 2
                                th(scope='col') 3
                                th(scope='col') 4
                                th(scope='col') 5
                                th(scope='col') 6
                                th(scope='col') 7
                                th(scope='col') 8
                                th(scope='col') 9
                                th(scope='col') 10
                                th(scope='col') 11
                                th(scope='col') 12
                                th(scope='col') 13
                                th(scope='col') 14
                        tbody
                            tr.align-middle
                                th(scope='col') 1. Основы современной психосоматики
                                th(scope='col').text-center 4
                                th(scope='col').text-center 2
                                th(scope='col').text-center 
                                th(scope='col').text-center 2
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                            tr.align-middle
                                th(scope='col') 2. Германская Новая Медицина
                                th(scope='col').text-center 3
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 2
                                th(scope='col').text-center 
                                th(scope='col').text-center 1
                                th(scope='col').text-center 
                                th(scope='col').text-center
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center
                            tr.align-middle
                                th(scope='col') 3. Состояние консультанта
                                th(scope='col').text-center 4
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 2
                                th(scope='col').text-center 
                                th(scope='col').text-center 2
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center
                            tr.align-middle
                                th(scope='col') 4. Интуиция и развитие образно-чувственного восприятия
                                th(scope='col').text-center 3
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 
                                th(scope='col').text-center 2
                                th(scope='col').text-center 
                                th(scope='col').text-center 1
                                th(scope='col').text-center
                            tr.align-middle
                                th(scope='col') Итоговая аттестация
                                th(scope='col').text-center 2
                                th(scope='col').text-center
                                th(scope='col').text-center
                                th(scope='col').text-center
                                th(scope='col').text-center
                                th(scope='col').text-center
                                th(scope='col').text-center
                                th(scope='col').text-center
                                th(scope='col').text-center
                                th(scope='col').text-center
                                th(scope='col').text-center
                                th(scope='col').text-center
                                th(scope='col').text-center
                                th(scope='col').text-center
                                th(scope='col').text-center 2
                            tr.align-middle
                                th(scope='col') Всего
                                th(scope='col').text-center 16
                                th(scope='col').text-center 2
                                th(scope='col').text-center 
                                th(scope='col').text-center 2
                                th(scope='col').text-center 2
                                th(scope='col').text-center 
                                th(scope='col').text-center 1
                                th(scope='col').text-center 
                                th(scope='col').text-center 2
                                th(scope='col').text-center 
                                th(scope='col').text-center 2
                                th(scope='col').text-center 2
                                th(scope='col').text-center 
                                th(scope='col').text-center 1
                                th(scope='col').text-center 2
            +card-title('', '', [
                ['Общая численность обучающихся', '– не ограничивается.'],
                ['Численность обучающихся по реализуемым образовательным программам в группе', 'не превышает 50 человек.'],
                ['', 'Обучение за счет бюджетных ассигнований федерального бюджета, бюджетов субъектов Российской Федерации, бюджетных ассигнований местных бюджетов не предусмотрено.'],
                ['', 'Численность обучающихся по договорам об образовании, заключаемых при приеме на обучение за счет средств физического и (или) юридического лица (далее – договор об оказании платных образовательных услуг) (в том числе с выделением численности обучающихся, являющихся иностранными гражданами) – не ограничивается.'],
                ['Регистрационный номер лицензии:', ' № __________________. '],
                ['Номер и дата приказа (распоряжения) лицензирующего органа о предоставлении лицензии:', '№ __________________.']
            ])
        +section('5. Раздел «Образовательные стандарты и требования»')
            +card-title('', '', [
                ['', 'К дополнительной профессиональной программе повышения квалификации «Введение в психосоматику» не применяются образовательные стандарты.']
            ])
        +section('6. Раздел «Руководство. Педагогический (научно-педагогический) состав»')
            +card-title('', '', [
                ['Руководитель образовательной организации:', 'Дубинин Алексей Александрович, директор.'],
                ['Контактный телефон:', '+7-913-768-78-08'],
                ['Электронная почта:', 'dubinina8.academy@mail.ru'],
                ['', 'Заместителей руководителей не имеется.'],
                ['', 'Руководителей филиалов, представительств не имеется.'],
                ['Персональный состав педагогических работников каждой реализуемой образовательной программы:', ''],
                ['', 'Дубинина Кристина Валерьевна, преподаватель.'],
                ['', '- образование среднее профессиональное, педагогическое.'],
                ['', '- руководитель творческого коллектива, преподаватель, 2011 г.'],
                ['', '- повышение квалификации по программе «Педагогика дополнительного профессионального образования», 16 часов, 2023 г.'],
                ['Общий стаж работы:', '9 лет.'],
                ['Стаж работы по специальности:', '9 лет.'],
                ['Преподаваемые учебные предметы, курсы, дисциплины (модули):', 'основы современной психосоматики; Германская новая медицина; основы психофизиологии человека; интуиция и развитие образно-чувственного восприятия.']
            ])
        +section('7. Раздел «Материально-техническое обеспечение и оснащенность образовательного процесса»')
            +card-title('', '', [
                ['Материально-техническое обеспечение образовательной деятельности:', 'необходимым условием учебного процесса является наличие ПК или мобильного устройства, доступ к сети Интернет и любое, необходимое обучающемуся, техническое оснащение, с целью реализации курса в дистанционной форме.'],
                ['Материальная база соответствует санитарным и техническим нормам и правилам и обеспечивает проведение всех видов теоретической и практической подготовки обучающихся, предусмотренных реализуемыми образовательными программами.', ''],
                ['Сведения об оборудованных учебных кабинетах:', 'кабинеты отсутствуют. Обучение осуществляется с применением исключительно электронного обучения и дистанционных образовательных технологий.'],
                ['Сведения об объектах для проведения практических занятий:', 'отсутствуют.'],
                ['Сведения о библиотеке(ах):', 'отсутствуют.'],
                ['Cведения об объектах спорта:', 'отсутствуют.'],
                ['Сведения о средствах обучения и воспитания:', 'заключен договор на использование Образовательной платформы, разработаны и утверждены образовательные программы, подготовлены электронные онлайн-курсы.'],
                ['Сведения об условиях питания обучающихся:', 'в связи с тем, что обучение осуществляется с применением электронного обучения и дистанционных образовательных технологий, питание организуется обучающимися самостоятельно по месту их нахождения.'],
                ['Cведения об условиях охраны здоровья обучающихся:', 'в связи с тем, что обучение осуществляется с применением электронного обучения и дистанционных образовательных технологий, оказание первичной медико-санитарной помощи, прохождение медицинских осмотров организуется обучающимися самостоятельно по месту их нахождения.'],
                ['', 'Разработка программ осуществляется с учетом оптимальной учебной, внеучебной нагрузки, режима учебных занятий.'],
                ['', 'В организации проводятся онлайн-мероприятия, направленные на пропаганду здорового образа жизни, профилактика и запрещение курения табака или потребления никотинсодержащей продукции, употребления алкогольных, слабоалкогольных напитков, пива, наркотических средств и психотропных веществ, их прекурсоров и аналогов и других одурманивающих веществ.'],
                ['', 'Разработаны и доводятся до сведения обучающихся рекомендации по работе за компьютером, гимнастика для глаз.'],
                ['Доступ к информационным системам и информационно-телекоммуникационным сетям:', 'обучение осуществляется исключительно с применением электронного обучения и дистанционных образовательных технологий, поэтому в обучающей  организации обеспечивается доступ к сети «Интернет».'],
                ['Электронные образовательные ресурсы, к которым обеспечивается доступ обучающихся.', ''],
                ['I. Собственные электронные образовательные и информационные ресурсы:', 'разработаны онлайн-курсы по каждой реализуемой образовательной программе размещены на Образовательной платформе.'],
                ['II. Сторонние электронные образовательные и информационные ресурсы:', ''],
                ['', 'Перечень электронных ресурсов, к которым обеспечивается доступ:'],
            ])
                +list-group([
                    ['', 'Министерство образования и науки Российской Федерации (http://минобрнауки.рф/)'],
                    ['', 'Федеральный портал «Российское образование» (http://www.edu.ru/)'],
                    ['', 'Информационная система «Единое окно доступа к образовательным ресурсам» (http://window.edu.ru/)'],
                    ['', 'Единая коллекция цифровых образовательных ресурсов (http://school-collection.edu.ru/)'],
                    ['', 'Федеральный центр информационно-образовательных ресурсов (http://fcior.edu.ru/)'],
                ], [], 'list-group-flush list-group-numbered')
            +section('8. Раздел «Стипендии и меры поддержки обучающихся»')
                +card-title('', '', [
                    ['Наличие и условия предоставления обучающимся стипендий:', 'cтипендии не предоставляются.'],
                    ['Меры социальной поддержки:', 'не предоставляются.'],
                    ['Общежитие, интернат:', 'не предоставляются.'],
                    ['Трудоустройство выпускников:', 'не осуществляется.']
                ])
            +section('9. Раздел «Платные образовательные услуги»')
                +list-group([
                    ['Положение о порядке оказания платных образовательных услуг;', ''],
                    ['Образец договора об оказании платных образовательных услуг;', ''],
                    ['Об утверждении стоимости обучения по каждой образовательной программе.', ''],
                ], [], 'list-group-flush')
            +section('10. Раздел «Финансово-хозяйственная деятельность»')
                +card-title('', '', [
                    ['', 'Объем образовательной деятельности за счет бюджетных ассигнований федерального бюджета, бюджетов субъектов РФ, местных бюджетов – 0%.'],
                    ['', 'Объем образовательной деятельности, финансовое обеспечение которой осуществляется по договорам об оказании платных образовательных – 100%.'],
                    ['', 'Информацию о поступлении финансовых и материальных средств по итогам финансового года – будет размещена по итогам финансового года.'],
                    ['', 'Информацию о расходовании финансовых и материальных средств по итогам финансового года – будет размещена по итогам финансового года.'],
                ])
            +section('11. Раздел «Вакантные места для приема (перевода) обучающихся»')
                +card-title('', '', [
                    ['Количество вакантных мест для приема (перевода) за счет бюджетных ассигнований федерального бюджета', '– 0 мест.'],
                    ['Количество вакантных мест для приема (перевода) за счет бюджетных ассигнований бюджетов субъекта Российской Федерации', '– 0 мест.'],
                    ['Количество вакантных мест для приема (перевода) за счет бюджетных ассигнований местных бюджетов', '– 0 мест.'],
                    ['Количество вакантных мест для приема (перевода) за счет средств физических и (или) юридических лиц', '– не ограничено.'],
                    ['В  ООО «КРИСТИНА ДУБИНИНА» прием обучающихся ведется в соответствии с заключаемыми договорами об оказании платных образовательных услуг', '– без ограничений.'],
                    ['Квоты и контрольные цифры', '– не установлены.'],
                ])
            +section('12. Раздел «Доступная среда»')
                .table-responsive
                    table.table.table-bordered
                        tr.align-middle
                            th(scope='col') Специально оборудованные учебные кабинеты
                            th(scope='col') Обучение осуществляется исключительно с применением электронного обучения и дистанционных образовательных технологий, поэтому специально оборудованные учебные кабинеты отсутствуют
                        tr.align-middle
                            th(scope='col') Объекты для проведения практических занятий, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья
                            th(scope='col') Обучение осуществляется исключительно с применением электронного обучения и дистанционных образовательных технологий, поэтому объекты для проведения практических занятий, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья отсутствуют
                        tr.align-middle
                            th(scope='col') Библиотека, приспособленная для использования инвалидами и лицами с ограниченными возможностями здоровья
                            th(scope='col') Не имеется
                        tr.align-middle
                            th(scope='col') Об объектах спорта, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья
                            th(scope='col') Не имеется
                        tr.align-middle
                            th(scope='col') Средства обучения и воспитания, приспособленные для использования инвалидами и лицами с ограниченными возможностями здоровья
                            th(scope='col') Не имеется
                        tr.align-middle
                            th(scope='col') Обеспечение беспрепятственного доступа в здание образовательной организации
                            th(scope='col') Обучение осуществляется исключительно с применением электронного обучения и дистанционных образовательных технологий поэтому обеспечение беспрепятственного доступа в здание образовательной организации не осуществляется
                        tr.align-middle
                            th(scope='col') О специальных условиях питания
                            th(scope='col') Не имеется
                        tr.align-middle
                            th(scope='col') О специальных условиях охраны здоровья
                            th(scope='col') Не имеется
                        tr.align-middle
                            th(scope='col') О доступе к информационным системам и информационно-телекоммуникационным сетям, приспособленным для использования инвалидами и лицами с ограниченными возможностями здоровья
                            th(scope='col') Сайт имеет версию для слабовидящих
                        tr.align-middle
                            th(scope='col') Об электронных образовательных ресурсах, к которым обеспечивается доступ инвалидов и лиц с ограниченными возможностями здоровья
                            th(scope='col') Доступ к электронной образовательной среде обеспечивается через Образовательную платформу, доступ к которой имеют любые лица, владеющие компьютером, в том числе инвалиды и лица с ограниченными возможностями здоровья
                        tr.align-middle
                            th(scope='col') О наличии специальных технических средств обучения коллективного и индивидуального пользования
                            th(scope='col') Не имеется
                        tr.align-middle
                            th(scope='col') О наличии условий для беспрепятственного доступа в общежитие, интернат
                            th(scope='col') Не имеется
                        tr.align-middle
                            th(scope='col') О количестве жилых помещений в общежитии, интернате, приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья
                            th(scope='col') Не имеется
            +section('13. Раздел «Международное сотрудничество»')
                +card-title('', '', [
                    ['', 'Общество с ограниченной ответственностью «КРИСТИНА ДУБИНИНА» не имеет заключенных и планируемых к заключению договоров с иностранными и (или) международными организациями по вопросам образования и науки, образовательных программ, имеющих международную аккредитацию.']
                ])
    +footer(footItems_1)
