extends ../layout/_layout

block variables
    -   var footItems_1 = [{'Академия Осознанной Жизни': 'index.html'}]

block content
    +header
        +navbar('navbar-light bg-light')
            +nav('Home', 'navbar-nav flex-row', [{'Сведения об образовательной организации': 'index.html'}])
            +btn('Академия Осознанной Жизни', 'dark')
    main
        .container-fluide.mb-4
            h1.ms-3 Академия Осознанной Жизни
        +section('1. Раздел "Основные сведения"')
            +card-title('', '', [
                ['Полное наименование:', 'Общество с ограниченной ответственностью "КРИСТИНА ДУБИНИНА"'],
                ['Сокращенное наименование:', 'ООО  "КРИСТИНА ДУБИНИНА"'],
                ['Дата создания:', '19.03.2021 г.'],
                ['Учредитель:', 'Дубинин Алексей Александрович'],
                ['Место нахождения:', '630049, Новосибирская область, г.о. город Новосибирск, ул. Кропоткина, д.128/1'],
                ['Филиалы (при наличии):', 'нет филиалов'],
                ['Режим работы:', 'с 9:00 до 18:00'],
                ['График работы:', 'с понедельника по пятницу, суббота, воскресенье – выходной. Доступ обучающихся к обучающей платформе обеспечивается круглосуточно из любой точки мира.'],
                ['Контактный телефон:', '+7-913-768-78-08'],
                ['Электронная почта:', 'dubinina8.academy@mail.ru'],
                ['Адрес места осуществления образовательной деятельности:', '630008, Новосибирская область, г. Новосибирск, ул. Бориса Богаткова, д.99, оф. 411.  ООО «КРИСТИНА ДУБИНИНА» реализует программы исключительно с применением электронного обучения, дистанционных образовательных технологий. В соответствии с ч. 4 ст. 16 Федерального закона от 29 декабря 2012 года № 273-ФЗ «Об образовании в Российской Федерации» При реализации образовательных программ с применением электронного обучения, дистанционных образовательных технологий, местом осуществления образовательной деятельности является место нахождения организации, осуществляющей образовательную деятельность, или ее филиала независимо от места нахождения обучающихся.']
            ])
        +section('2. Раздел "Структура и органы управления образовательной организации"')
            +card-title('Органы управления', '', [
                ['Высший орган управления -', 'общее собрание участников (единственный участник).'],
                ['Единоличный исполнительный орган -', 'генеральный директор Дубинин Алексей Александрович']
            ])
            +card-title('Структура образовательной организации:', '', [
                ['', '* Общее собрание участников/единственный участник'],
                ['', '* Генеральный директор'],
                ['', '* Структурное подразделение – Академия осознанной жизни Кристины Дубининой'],
                ['Наименование структурных подразделений:', 'образовательная деятельность в ООО «КРИСТИНА ДУБИНИНА» осуществляется в структурном подразделении - Академия осознанной жизни Кристины Дубининой'],
                ['Руководители структурных подразделений:', 'Руководителем Академии осознанной жизни Кристины Дубининой является  Дубинин Алексей Александрович'],
                ['Места нахождения структурных подразделений и органов управления:', '630008, Новосибирская область, г. Новосибирск, ул. Бориса Богаткова, д.99, оф. 411.'],
                ['Адреса официальных сайтов структурных подразделений в информационно-телекоммуникационной сети «Интернет»:', 'Адрес официального сайта Академии осознанной жизни Кристины Дубининой https://___________________'],
                ['Адреса электронной почты структурных подразделений:', 'Адрес электронной почты Академии осознанной жизни Кристины Дубининой dubinina8.academy@mail.ru'],
                ['Сведения о наличии положений о структурных подразделениях (об органах управления) с приложением копий указанных положений (при их наличии):', ''],
                ['', 'Положения об органах управления отсутствуют. Сведения о компетенции органов управления содержатся в Уставе ООО «КРИСТИНА ДУБИНИНА»'],
                ['', 'Положение об Академии осознанной жизни Кристины Дубининой утверждено 10.04.2023 г.']
            ])
        +section('3. Раздел "Документы"')
            +card-title
                +list-group-flush-numbered([
                    ['', 'Устав образовательной организации;'],
                    ['', 'Правила внутреннего распорядка обучающихся;'],
                    ['', 'Правила внутреннего трудового распорядка;'],
                    ['', 'Отчет о результатах самообследования;'],
                    ['', 'Правила приема обучающихся;'],
                    ['', 'Режим занятий обучающихся;'],
                    ['', 'Формы, периодичность и порядок текущего контроля успеваемости и промежуточной аттестации обучающихся;'],
                    ['', 'Порядок и основания перевода, отчисления и восстановления обучающихся;'],
                    ['', 'Порядок оформления возникновения, приостановления и прекращения отношений между образовательной организацией и обучающимися.'],
                ])
        +section('4. Раздел "Образование"')
            +card-title('Обучение по Дополнительной профессиональной программе повышения квалификации «Введение в психосоматику»', '', [
                ['Форма обучения', '– заочная'],
                ['Нормативный срок обучения', 'составляет 16 часов;'],
                ['Обучение осуществляется на', ' русском языке.'],
                ['', ''],
            ])
            +card-title('Образовательная программа включает в себя темы:', '', [])
                +list-group-flush-numbered([
                    ['', 'Основы современной психосоматики;'],
                    ['', 'Германская Новая Медицина;'],
                    ['', 'Состояние консультанта;'],
                    ['', 'Интуиция и развитие образно-чувственного восприятия;']
                ], [
                    ['Обучение завершается итоговой аттестацией.', ''],
                    ['', 'Практическая подготовка не предусмотрена. Образовательная  программа реализуется исключительно с использованием электронного обучения и дистанционных образовательных технологий.'],
                    ['Цель обучения:', 'формирование представления о феноменологии взаимосвязи психики и тела, истории изучения психосоматических расстройств, факторах их возникновения, психологических воздействиях, направленных на оптимизацию состояния, а также сформировать навыки по диагностированию данных феноменов, умению алгоритмизировать консультативную работу по психотерапии психосоматических расстройств.'],
                    ['Задачи программы:', ''],
                    ['', '- сформировать представление о психосоматике, ее предмете, задачах, методах исследования;'],
                    ['', '- сформировать представление об основных психосоматических теориях;'],
                    ['', '- сформировать представление об основах психологического консультирования;'],
                    ['', '- обеспечить условия для получения практического опыта в сфере психологического консультирования.']
                ])
    +footer(footItems_1)
